<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="card-body">
                <img src="assets/HECHO POR NOSOTROS/LOGO_HXN_COLOR.png" alt="foto" class="foto">
                <h3 class="card-title text-center">Reestablecer <p class="texto">Contraseña</p>
                </h3>
                
                    <div class="form-group">
                        <input type="" class="form-control"  formControlName="userPassword" placeholder="Password"  >
                    </div>
                    <div class="form-group">
                        <input type="" class="form-control" formControlName="userPassword" placeholder="Password">
                    </div>
                

                <div class="form-group1 text-center mt-3">
                    <button class="btn  btn-lg" (click)="onReset()">ENVIAR</button>
                </div>
            </div>
        </div>
    </div>
</div>