#sidenav{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    
    width: 2px;

    left: 0px;
    top: 299px;
}

.tamaño{
    width: 25px;
}
a{
    text-decoration: none;
    color: white;
}

.foto{
    margin-left: -5px;
}


.fotoE{
    margin-left: 20%;
}

.link{
    margin-left: -10px;
}