.card-body{
    width: 100%;
    min-height: 100vh;
   padding: 50px 0px;
   justify-content: center;
   align-items: center;
   margin: auto;
}

.foto{
    align-items: center;
    padding: 30px;
    width: 50%;
    margin: 0 180px;
}

.form-control{
    width: 65%;
    margin: 20px auto;
}

.fa-at{
    float: left;
    padding: 10px 5px;
    margin: auto;
}

.btn{
    margin: 20px ;
    background: #006271;
    color: white;
    width: 45%;
}

.text-center{
    font-size: 50px;
}

.texto{
    padding: 30px 0;
}

.wrap-login100{
    width: 50%;
  background: #F8F9FA;
}

.container-login100{
    width: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #fff;
}

.email{
    float: left;
    display: flex;
    padding: 10px 100px ;
    
}

.fa-at{
    width: 60px;
padding: 10px;

}
