.map-container {
   
    height: 120%;
    width: 100%;
   

    margin: 80px;

    
  }
  
  .map-frame {
   
    border: 1px solid black;
    width: 100%;
    margin-left: -80px;
    margin-top: -60px;
    height: 120%;
  }
  
  #map {
    height: 120%;
  }