.card-body{
    width: 50%;
    min-height: 90vh;
   padding: 10px 100px;
   display: block;
   justify-content: center;
   align-items: center;
   margin: auto;
   box-shadow: 4px 4px 4px 0px #00000040;
   background: #F8F9FA;
   border-radius: 10px;
}

.foto{
    align-items: center;
    //padding: 30px 160px;
    height: 200px;
    margin-bottom: 50px;
}

.form-control{

    width: 140%;
    
    
}

.fa-at{
    width: 40px;
  padding: 5px;
}

.btn{
    margin: 20px 0;
    background: #006271;
    color: white;
    width: 50%;
}

.text-center{
    font-size: 50px;
   padding: 20px 0;
}

.texto{
    padding: 20px 0;
}

.fondo{
    background: #fff;
}

.email{
    display: flex;
  padding: 0 35px ;
}

.wrap-login100{
    padding: 10px;
}

.container-login100{
    padding: 25px;

}
.modal-body{
    text-align: center;
    
}