<div style="background-color: #F4EEE9">
  <div class="row" style="margin: 100px 250px; padding: 50px 0; ">
    <div class="card mb-3" style="max-width: 500px; width: 200px;height: 70px; ">
      <div class="row g-0" style="background-color: #BBC7D6;">
        <div class="col-md-4"
          style=" background-color: #17A2B8; width: 50px;height: 69px;margin: 0px -13px;padding: 14px 5px;border-radius:3px ;">
          <img src="assets/Cloudupload(1).png" class="img-fluid rounded-start" alt="foto">
        </div>
        <div class="col-md-8"
          style="background-color:#BBC7D6;width: 139px; height: 69px;margin: -69px 48px; border-radius: 4px;">
          <div class="card-body">
            <h5 class="card-title fuente" style="margin-left: -100px ;font-size:20px;">{{contador?.publicados}}</h5>

            <p class="card-text" style="margin-top: -10px;font-size:18px; font-family: Avenir LT Std"><small
                class="text fuente">Publicados</small></p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3" style="max-width: 240px;width: 200px;height: 70px;margin: 0 10px;">
      <div class="row g-0" style="background-color: #BBC7D6;">
        <div class="col-md-4"
          style="background-color: #FFC107;width: 50px;height: 69px;margin: 0px -13px;padding: 14px 5px;border-radius:3px ;">
          <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0)">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M5.25 13.125V32.8125C5.25 35.0805 6.93525 36.75 8.81213 36.75H33.1879C35.0648 36.75 36.75 35.0805 36.75 32.8125V13.125H39.375V32.8125C39.375 36.3431 36.6949 39.375 33.1879 39.375H8.81213C5.30513 39.375 2.625 36.3431 2.625 32.8125V13.125H5.25Z"
                fill="white" />
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M14.4375 19.6875C14.4375 19.3394 14.5758 19.0056 14.8219 18.7594C15.0681 18.5133 15.4019 18.375 15.75 18.375H26.25C26.5981 18.375 26.9319 18.5133 27.1781 18.7594C27.4242 19.0056 27.5625 19.3394 27.5625 19.6875C27.5625 20.0356 27.4242 20.3694 27.1781 20.6156C26.9319 20.8617 26.5981 21 26.25 21H15.75C15.4019 21 15.0681 20.8617 14.8219 20.6156C14.5758 20.3694 14.4375 20.0356 14.4375 19.6875ZM39.375 5.25H2.625V10.5H39.375V5.25ZM2.625 2.625C1.92881 2.625 1.26113 2.90156 0.768845 3.39384C0.276562 3.88613 0 4.55381 0 5.25L0 10.5C0 11.1962 0.276562 11.8639 0.768845 12.3562C1.26113 12.8484 1.92881 13.125 2.625 13.125H39.375C40.0712 13.125 40.7389 12.8484 41.2312 12.3562C41.7234 11.8639 42 11.1962 42 10.5V5.25C42 4.55381 41.7234 3.88613 41.2312 3.39384C40.7389 2.90156 40.0712 2.625 39.375 2.625H2.625Z"
                fill="white" />
            </g>
            <defs>
              <clipPath id="clip0">
                <rect width="42" height="42" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </div>
        <div class="col-md-8"
          style="background-color:#BBC7D6;width: 139px; height: 69px;margin: -69px 48px; border-radius: 4px;">
          <div class="card-body">
            <h5 class="card-title fuente" style="margin-left: -100px ;font-size:20px;">{{contador?.no_publicados}}</h5>

            <p class="card-text" style="margin-top: -10px;font-size:18px; font-family: Avenir LT Std"><small
                class="text fuente">No Publicados</small>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3" style="max-width: 240px;width: 200px;height: 70px;margin: 0 10px;">
      <div class="row g-0" style="background-color: #BBC7D6;">
        <div class="col-md-4"
          style="background-color: #E83E8C;width: 50px;height: 69px;margin: 0px -13px;padding: 14px 5px;border-radius:3px ;">
          <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M34.125 5.25C34.125 2.34938 28.2476 0 21 0C13.7524 0 7.875 2.34938 7.875 5.25C7.875 8.15063 13.7524 10.5 21 10.5C28.2476 10.5 34.125 8.15063 34.125 5.25Z"
              fill="white" />
            <path
              d="M34.125 9.84375C33.2798 10.4737 32.2927 10.9856 31.2559 11.4004C28.4996 12.5029 24.8719 13.125 21 13.125C17.1281 13.125 13.5004 12.5029 10.7441 11.4004C9.7253 11.0059 8.7611 10.4828 7.875 9.84375V15.75C7.875 18.6506 13.7524 21 21 21C28.2476 21 34.125 18.6506 34.125 15.75V9.84375Z"
              fill="white" />
            <path
              d="M34.125 20.3438C33.2798 20.9737 32.2927 21.4856 31.2559 21.9004C28.4996 23.0029 24.8719 23.625 21 23.625C17.1281 23.625 13.5004 23.0029 10.7441 21.9004C9.7253 21.5059 8.7611 20.9828 7.875 20.3438V26.25C7.875 29.1506 13.7524 31.5 21 31.5C28.2476 31.5 34.125 29.1506 34.125 26.25V20.3438Z"
              fill="white" />
            <path
              d="M34.125 30.8438C33.2798 31.4737 32.2927 31.9856 31.2559 32.4004C28.4996 33.5029 24.8719 34.125 21 34.125C17.1281 34.125 13.5004 33.5029 10.7441 32.4004C9.72532 32.0059 8.76113 31.4828 7.875 30.8438V36.75C7.875 39.6506 13.7524 42 21 42C28.2476 42 34.125 39.6506 34.125 36.75V30.8438Z"
              fill="white" />
          </svg>
        </div>
        <div class="col-md-8"
          style="background-color:#BBC7D6;width: 139px; height: 69px;margin: -69px 48px; border-radius: 4px;">
          <div class="card-body">
            <h5 class="card-title fuente" style="margin-left: -100px ;font-size:20px;">{{contador?.creados}}</h5>

            <p class="card-text fuente" style="margin-top: -10px;font-size:18px;"><small
                class="text fuente">Creados</small></p>
          </div>
        </div>
      </div>
    </div>


    <div class="agregar22">
      <button class="btn btn-primary" [routerLink]="['/init/Perfil/0']">
        + Agregar nuevo</button>
    </div>

    <div class="grid-container" *ngIf="cardsContent.length">

      <!--CARDS SECTION-->
      <div style="grid-column: 2 / 3;">

        <div class="col"></div>

        <div class="container">

          <div style="display:block;">
            <h3>Últimos emprendimientos editados</h3>


            <hr>




            <!-- <div class="row row-cols-1 row-cols-md-4 g-4 cardshome">
              <div class="col" *ngFor="let item of cardsContent; let i=index;" style="margin-left:  50px">
                <div class="card" style="height: 350px; width: 300px;">
                  <img [src]="item.portada" class="card-img-top" alt="...">
                  <img [src]="item.logo" id="circulo">
                  <div class="card-body">
                    <div class="mt-4 text-center">
                      <h3 class="card-title"><strong>{{item.name}}</strong></h3>
                      <p class="card-text">{{item.tipo}}</p>
                      <p class="card-text">{{item.email}}</p>
                      <p class="card-text">{{item.pais}}</p>
                      <div class="cajitabotones">
                        <button class="boton2" [routerLink]="['/init/Perfil/',item.id_emprendimiento]"> Editar</button>
                        &nbsp; &nbsp;
                        <button *ngIf="valor[i].publicado" class="boton1"
                          [routerLink]="['/landing',item.id_emprendimiento]">Ver Landing</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
            <div class="row cardshome">
              <div class="d-flex justify-content-center align-items-center flex-wrap">
                <div *ngFor="let item of cardsContent; let i=index;" class="card me-5" style="height: 350px; width: 300px;">
                  <img [src]="item.portada" class="card-img-top" alt="...">
                  <img [src]="item.logo" id="circulo">
                  <div class="card-body">
                    <div class="mt-4 text-center">
                      <h3 class="card-title"><strong>{{item.name}}</strong></h3>
                      <p class="card-text">{{item.tipo}}</p>
                      <p class="card-text">{{item.email}}</p>
                      <p class="card-text">{{item.pais}}</p>
                      <div class="cajitabotones">
                        <button class="botonE" [routerLink]="['/init/Perfil/',item.id_emprendimiento]"> Editar</button>
                        &nbsp; &nbsp;
                        <button *ngIf="valor[i].publicado" class="boton1"
                          [routerLink]="['/landing',item.id_emprendimiento]">Ver Landing</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
      <div class="ultima" *ngIf="!cardsContent.length">
        <h3 class="fuente">Últimos Emprendimientos Editados</h3>
        <hr>
        <img src="assets/Layer 2.png" alt="foto" class="foto">
        <p class="texto">Aun no hay emprendimientos creados</p>
        <p class="texto">Crea el primero ahora.!</p>
        <button class="boton" [routerLink]="['/init/Perfil/0']">+ Agregar nuevo</button>
      </div>
    </div>
  </div>