.example-user-input {
  width: 94%;
}
.selec{
  height: 10%;
}

.example-user-input1{
border: 2px solid gray;
}
.logo1{
width: 10%;
margin: auto;
background: white;
}

.logo2{
min-width: 200px;
    min-height: 198px;
    max-width: 222px;
    max-height: 371px;
    margin-top: -281 px;
    margin-right: -15ppx;
    padding-left: 10 px;
}

.logo{
min-width: 200px;
min-height: 200px;
max-width: 385px;
max-height: 385px;
}

.tienda{
margin-top: -40px;
}

.arriba{
margin-top: -90px;
margin-left: 15px;
width: 100%;
}

.form-check-input{

margin: 05px auto;
}



.form-select{
width: 94%;
}

.fa-trash-alt{
  width: 24px;
  float: right;
  margin-top: -115px;
  margin-right: 12px;
}

.fa-trash-alt1{
  width: 24px;
  float: right;
  margin-top: -15px;
  margin-right: 12px;
}

.form5{
width: 75.5%;
}

.form3{
width: 95.2%;

}
.containerside{
display: flex;
justify-content: center;
margin-bottom: 25px;
font-family:avenir;
}
.containerside a{
text-decoration: none;
color: white;
text-align: center;
font-family:avenir;
}

.dropdown{
margin-left: 25px;
  font-family: avenir;
}



.container{
width:1050px;
height:auto;
display: flex;
justify-content: center;
margin-top: 0px;
padding-top: 0px;
padding-bottom: 20px; 

border-radius: 10px;
}

.radios{
width: 70%;
margin-top:-300px;
padding: 0 30px;
}



.radios1{
width: 50%;
padding: 10px 30px ;
margin-top: -200px;
}

.radios2{
width: 100%;

padding: 0 10px;
margin-left: 10px;
}

.mdb-autocomplete{
height: 30px;
}

.file{
margin-top: -124px;
margin-left: 50px;
border: none;
background: white;

}

.agrupar{
height: 10%;
}



.subir{
margin-top: 100px;

}

p#texto{
color: #212529;
width: 200px;
height: 100px;
text-align: center;
}

div#subir23{

margin: 0px 90px;
padding: 10px;
width: 148px;
background: white;
}

.btn-outline-secondary{
width: 10%;
}

.hola{
padding: 0 -100px;
}



.inputsinimagen{
position: absolute;

height: 256px;
width: 403px;
opacity: 0;
margin-left: -1px;
}

.inputsinimagen1{
position: absolute;  
height:198px;
width: 449px;
opacity: 0;
margin-left: -225px;
margin-top: -17px;
}

.inputconimagen1{
position: absolute;  
height:198px;
width: 449px;
opacity: 0;
margin-left: -225px;
margin-top: -17px;
}

.logo4{
min-width: 172px; 
max-width: 215px;
margin-top: -276px;
margin-left:32px;
}

.disabled {
pointer-events:none; 
opacity:0.6;
}

.logo5{
min-width: 172px; 
max-width: 215px;
margin-top: -276px;
margin-left: 15px;
}

.logo3{
min-width: 170px;
  min-height: 29px;
  max-width: 333px;
  margin-top: -250px;
  margin-left: 43px;
}

.inputconimagen{
position: absolute;

height: 230px;
width: 391px;
opacity: 0;
margin-left: -1px;
}

.btn{
width: 100%;

}

.mat-form-field-infix{
 border: 1x solid gray
}

.input100{
 width: 91%;
 height: 30px;
 margin-top: -15px;

}

.bordes{
  border: 1px solid gray;


}

.input105{
 width: 94%;
 height: 30px;
padding: 0 10px;

}



.card{
 width: 100%;
margin: 15px 0;
padding: 15px 0;
box-sizing: border-box;
}

.derecha{
width: 35%;
height: 230px;
margin: 15px 22px;
border-radius: 10px;
border: 2px dashed #B9B9B9;
box-sizing: border-box;
text-align: center;
margin-left: -329px;
font-size: 50px;
}

.derecha2{
  width: 35%;
  height: 230px;
  margin: 15px 22px;
  border-radius: 10px;
  border: 2px dashed #B9B9B9;
  box-sizing: border-box;
  text-align: center;
  margin-left: 10px;
  font-size: 50px;
  }

  

.linea{
  display: flex;
}

.derecha1{
width: 35%;
height: 230px;
margin: 15px 22px;
border-radius: 10px;
border: 2px dashed #B9B9B9;
box-sizing: border-box;
text-align: center;
margin-left: -330px;
font-size: 50px;
}

.card1{
 width: 98%;
 margin: 9px 0px;
 padding: 0 15px;
 background: white;
}
.card12{
margin: 0 -0px;
background: white
}
.card5{
width: 102%;
margin: 10px -15px;
padding: 0px;
background: white;;
}

.pie{
 margin: 10px 0px;
 font-size: 21px;
 float: left;
 padding: 5px 10px;
}

.boton2{
 float: right;
 margin: 20px 10px;
 padding: 5px;
 background: #006271;
color: white;
border: 1px solid #006271;
border-radius: 5px;
}

.boton3{
float: right;
margin: 20px 10px;
padding: 5px;
background: #6C757D;
color: white;
border: 1px solid #6C757D;
border-radius: 5px;
}

.boton4{
float: right;
margin: 20px 10px;
padding: 5px;
color: #006271;
border: 1px solid #006271;
border-radius: 5px;
}

.card-title{
 margin: 20px 0px;
 font-size: 16px;
}

.card-body1{
padding: 10px;
 margin: 15px;
 background-color: white;
 width: 98%;
}

.card-body{
width: 98%;
background: white;
margin: 15px 0;
}

.card-body3{
margin: 10px 30px;
float: right;
}

.ciudad{
 padding: 10px 48%;

}

.pie1{
 padding: 10px 0;
 float: left;
}

.codigo{
 padding: 10px 60%;
 float: left;
 display: flex;
}

.color {
 background-color: white;
 padding: 10px;
width: 98%;
margin: 15px;
}

.color1{
background-color: white;
margin: 50px 0;
}

.example-full-width{
width: 100%;

}

.input101{
width: 100%;
float: left;
}

.card{
border: none;
}

.card2{
background-color: white;
width: 50%;
}

.form-check{
padding: 0 35px;
float: left;
}

.export{
padding: 0 15px;
margin-top: -20px;
}

.export1{
padding: 0 15px;
margin-top: 0px;
}

.form-check1{
padding: 0px 0px;
float: left;
}
.form-check2{
padding: 10px 15px; 

}

.radio-cambio{
margin-top: 23px;
margin-left: -823px;
}

.label-cambio{
margin-top: 18px;
}

.to{
width: 100%;
height: 200px;
text-align: center;
}

.form-check-label1{
padding: 2px 5px;
}

.card3{
width: 50%;
height: 10px;
}

.png{
float: left;
font-size: 16px;
padding: 18px 30px;
color:  #6C757D;
font-family: Avenir LT Std;
}

.card-text{
float: left;
padding: 10px 0;
font-size: 22px;
}

.grid-container{
background-color: #F4EEE9;
 display: grid; 
grid-template-columns: 267px auto; 
grid-template-rows: auto ;
}

.ubi{
font-size: 23px;
padding: 5px 29px;
width: 20%;
}

.card-body2{
padding:10px 0px;
margin: 10px 20px;

}
.card-title3{
padding: 0 16px;
font-size: 18px;
}

.card-title4{
padding: 5px 40px;
font-size: 23px;
float: left;
}

.input102{
margin: 0 16px;
width: 90.2%;
height: 30px;
}


.input112{
width: 86%;
height: 30px;
margin-left: 15px;
}

.input113{
  opacity: 0;
width: 232px;
height: 228px;
margin: -177px 0;
margin-left: 0;
display: flex;
}

.input115{
width: 76%;
margin: -05px 15px;
padding: 2px 5px;

border-radius: 4px;  

}



.input114{
width: 100%;
height: 200px;
text-align: center;
border: 2px dashed gray;
margin: 0 10px;
font-size: 50px;
}

.card-text1{
font-size: 19px;
margin-top: -10px;
}

.subir1{
margin-top: -0px;
}



agm-map{
width: 600px;
height: 600px;
background-color: red;
}

.input103{
width: 70%;
height: 30px;
margin: 0px 0;
}

.input104{
width: 930px;
height: 194px;
padding: 5px 10px;
margin: 0 25px;
border-radius: 10px;
border: 1px solid #B9B9B9;
box-sizing: border-box;
margin-right: 10px;
}

.titulo3{
font-size: 21px;
padding: 30px 15px;
width: 20%;
}

.maximo{
  float: left;
  font-size: 16px;
  padding: 6px 0px;
  color: gray; 
  margin-left: -130px;
}

.mas{
margin-top: 55px;
}

.mas1{
margin-top: 63px;
margin-left: 110px;
}

.input106{
opacity: 0;
width: 190px;
height: 230px;
margin: -177px 0;
margin-left: -176px;
}
.input110{
width: 20%;
height: 230px;
  padding: 80px 25px;
  margin: 15px 30px;
  border-radius: 10px;
  border: 2px dashed #B9B9B9;
  box-sizing: border-box;
  text-align: center;
  margin-left: -360px;
  font-size: 50px;
}

.form6{
width: 50%;
}

.pies{
font-size: 21px;
padding: 10px 23px;
}

.input107{
margin: -05px 23px;
padding: 5px;
border: 1px solid #B9B9B9;
border-radius: 5px;
width: 90%;
}

.input108{
width: 100%;
height: 30px;
}

.form4{
width: 88%;
}

.boton{
float: right;
background: none;
padding: 5px 15px;
color: #006271;
border: 1px solid #006271;
border-radius: 5px;
margin:  30px 70px;
}


.color3{

margin: 100px 15px;

box-sizing: border-box;
}

.card-text5{
font-size: 20px;
margin-top: 70px;
}

.input109{
width: 50%;
font-size: 15px;
margin-top: -25px;
margin-left: 82px;
padding: 2px;
}

.materiales{
padding: 0 17px;
}

.boton1{
float: right;
background: none;
padding: 5px 15px;
color: #006271;
border: 1px solid #006271;
border-radius: 5px;
margin: -60px 80px;

}

.guardar6{
margin: 30px -291px;
float: right;
padding: 5px;
color: #006271;
border: 1px solid #006271;
border-radius: 5px;
}

.guardar7{
margin: -60px 10px;
float: right;
padding: 5px;
color: #006271;
border: 1px solid #006271;
border-radius: 5px;
}

.abarcador{
background:white;
margin: 0px 15px;
width: 98%;
}

.col-sm-2{
box-shadow: 0px 4px 4px 0px #00000040;
margin: 10px ;
width: 14.5%;

}

.foto2{
width: 102px;

}

.list-boton{
padding: 0px;
margin: 0 10px;
}

.color4{
display: flex;
float: right;
margin: 78px 15px;
}

.input111{
width: 91.6%;
height: 30px;
margin-left: 15px;
}

.boton5{
margin: 20px 58px;
padding: 5px 15px;
background: #006271;
border: 1px solid #006271;
box-shadow: 0px 4px 4px 0px #00000040;
border-radius: 4px;
}

.texto1{
display: flex;
float: left;
margin: 100px 20px;
font-size: 38px;
}

.navegador{
display: block;
margin-top: -40px;
}

.text{
margin: 10px 30px;
padding: 50px 0;
width: 94.5%;
height: 100px;
border-radius: 10px;
border: 1px solid black;
}

.comentar{
padding: 10px 30px;
font-size: 24px;
}

.comentario{
padding: 10px;
margin-top: -10px;
}

.color8{
background: white;
margin: 30px;
padding: 10px;
}

.card6{
background: white;
margin: 15px;
width: 97%;
}

.card4{
width: 96%;

}

.card-body7{
padding: 15px 30px;
width: 103%;
}

.card-body6{
float: left;
}

.text-danger{
padding: 5px 15px;
border-color: #dc3545;
}

.info-circle{
margin: 17px 5px;
margin-top: -50px;
margin-left: 70px;
}

.info-circle8{ 
margin:17px 5px;
}

.info-circle10{ 
margin-top: -100px;
margin-left:  273px;
}

.info-circle19{
margin-top: -125px;
margin-left:  170px;
}

.info-circle20{
margin-top: 13px;
margin-left:  5px;
}

.Nombre{
width: 40%;
margin-left: 15px;
}

.info-circle21{
margin-top: -85px;
margin-left:  255px;
}

.nav-item{
background-color: gray;
color: black;
border-radius: 5px;
border: 1px solid black;
margin: 5px;
}

.nav-link{
color: #000;
}

.info-circle22{
margin-top: -185px;
margin-left:  260px;
}

.maximo1{
float: left;
font-size: 16px;
padding: 6px 0px;
color: gray; 
margin-left: 0px;
}
.info-circle18{ 
margin-top: 07px;
margin-left: -490px;
}

.info-circle14{
margin-top: -97px;
margin-right: 100px;

}

.info-circle11{ 
margin-top: -86px;
margin-left: 100px;
}

.todo{
margin: 10px 150px;
}

.info-circle12{ 
margin-top: 18px;
margin-left: 0px;
}

.info-circle13{ 
margin-top: 7px;
margin-left: 3px;
}
.fa-asterisk5{
margin-left: -236px;
margin-top: 18px;
}

.fa-asterisk6{
margin-left: -497px;
margin-top: 7px;
}

.fa-asterisk7{
margin-top: -97px;
margin-left: 125px;
}

.subir3{
margin-top: -59px;
padding: 0 10px;
}

.certificado{
padding: 10px 30px;
font-size: 21px;
}

.info-circle9{
margin: 17px 5px;
margin-top: -45px;
margin-left: 160px;

}

.info-circle1{ 
margin:10px 5px;
}

.info-circle2{
margin:13px 3px;
}

.info-circle3{
margin-top: -65px;
margin-left: 140px;
}
.info-circle4{
margin-top: -65px;
margin-left: 275px;
}
.info-circle4{
margin-top: -65px;
margin-left: 70px;
}

.info-circle5{
margin-top: -65px;
margin-left: 275px;
}

.info-circle6{
margin-top: -68px;
margin-left: 250px;
}

.info-circle7{
margin-top: -67px;
margin-left: 120px;
}

.info-circle16{
margin-top: -85px;
margin-left: 70px;
}
.info-circle17{
margin-top: -85px;
margin-left: 73px;
}
.info-circle15{
margin-top: -67px;
margin-left: 113px;
}

.fa-asterisk{
width: 12px;
height: 12px;
margin:  13px 5px;
color: red;
}

.fa-asterisk1{
width: 12px;
height: 12px;
margin: 14px 3px;
color: red;
}

.flecha-arriba{
display: flex;

margin-top: -22px;
margin-left:  187px;
}

.flecha-abajo{
margin-left: 187px;
margin-top: -10px;
}
.flecha-abajo1{
margin-left: 165px;
margin-top: -46px;
}

.clip{
margin-top: 100px;
margin-left: 190px;
justify-content: center;
align-items: center;
display: flex;
}

.borde{
border:1px solid #6C757D;
margin-top: 60px;

width: 90%;
margin-left: 00px;

}




//file
.image-wrap {
padding: 10px;
border: solid 1px #e0e0e0;
display: inline-block;
}

.img-space {
border: dashed 1px #d3d3d3;
border-radius: 8px;
background-color: #f2f2f2;
height: auto;
width: 100%;
padding: 10px;
min-height:175px;
}

.img-space img {
display: block;
width: 100%;
height: 100%;
margin: auto;
cursor: pointer;
}

.fileInputProfileWrap {
width: 100%;
height: auto;
}

.fileInputProfile {
position: absolute;
height: 100%;
width: 100%;
z-index: 99;
opacity: 0;
}
.fileInputProfile[disabled] + .img-space{
pointer-events: none;
cursor: not-allowed!important;
}